<div class="container mt-5 ">

  <div class="row ">
    <div class="col-3">
      <h1>禁酒<h1>
      <h5><%=link_to 'マイページ',drink_drink_path(current_drink)%></h5>
      <h5><%=link_to 'トップ',root_path%></h5>
      <h5><%=link_to 'ログアウト',destroy_drink_session_path,method: :delete%></h5>

      <h3 class="mt-5">禁酒日記</h3>
        <%= form_with model: @new_voice,url: drink_voices_path,method: :post do |f| %>
          <h5>内容</h5>
            <%= f.text_area :story %>
          <%= f.submit '投稿',:class => "btn btn-success btn-block" %>
        <% end %>
    </div>

    <div class="col-7">
    <h3>みんなの禁酒日記</h3>
      <table class="table border border-dark mt-2">
          <thead>
            <tr>
              <th>日記</th>
              <th>名前</th>
              <th colspan="3"></th>
              <th colspan="4"></th>
            </tr>
          </thead>
        <% @voices.each do |voice| %>
          <tbody>
            <tr>
              <td><%= voice.story %></td>
              <td>
                <%=link_to drink_drink_path(voice.drink) do%>
                  <%= voice.drink.name %>さん
                <%end%>
                </td>
              <td>
                <% if voice.drink == current_drink %>
                  <%= link_to drink_voice_path(voice), method: :delete do %>
                    <button type="button" class="btn btn-danger">削除</button>
                  <%end%>
                <% end %>
              </td>
              <td>
                <%=render 'favorites/favorite', voice: voice%>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    <%= paginate @voices %>
    </div>
  </div>
</div>