<div class="row d-flex justify-content-center mt-5">
  <div class="col-4 card pt-3">
    <h2 class="text-center">禁煙中</h2>

    <%= form_with model: @smoke, url: smoke_session_path do |f| %>
      <div class="form-group mt-1">
        <%= f.label :name,"あなたの好きなタバコの銘柄",:class => "form-label" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => "form-control" %>
      </div>

      <div class="form-group mt-1">
        <%= f.label :password,"パスワード", :class => "form-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", :class => "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-check my-2">
          <%= f.check_box :remember_me, :class => "form-check-input" %>
          <%= f.label :remember_me, "入力情報を記憶", :class => "form-check-label" %>
        </div>
      <% end %>

      <div class="actions mt-2 text-center">
        <%= f.submit  "ログイン", :class => "btn btn-primary btn-block" %>
      </div>
    <% end %>

    <%= render "smoke/shared/links" %>
  </div>
</div>