<div class="container mt-5 ">
  <div class="row">
    <div class="col-5 pt-3">
        <h2 class="text-center">名前：<%= @smoke.name %>さん</h2>

        <div class="text-center my-3">
          <%@favolite_count = 0%>
          <%@voises.each do |voise|%>
            <%@favolite_count += voise.favolites.count%>
          <%end%>
          <%=@favolite_count%>個の❤️が送られています！
        </div>

        <%if @smoke == current_smoke%>
          <div class="text-center">
            <h4 class="my-3 ">↓名前変更↓</h4>
            <%=render 'layouts/error',object: @smoke%>
            <%= form_with model: @smoke,url: smoke_smoke_path(@smoke),method: :patch do |f| %>
              <%= f.text_field :name, autofocus: true%>
              <%= f.submit "変更",:class => "btn btn-primary btn-block" %>
            <% end %>
          </div>
        <%end%>

        <div class="text-center mt-5">
          <p>投稿内容に悩んでる方はこちらを押してください</p>
          <button type="button" class="btn btn-info" onclick="alertFunction()">仮投稿(投稿は保存されません)</button>
        </div>

        <div class="text-center mt-5">
          いくら貯金できているか計算したい方は
          <%=link_to '〝ここ〟',prices_path%>
          をクリック！
        </div>

    </div>

    <div class="col-4">
      <table class="table border border-dark mt-2">
        <tr>
          <th>投稿一覧</th>
          <th colspan="2"></th>
        </tr>
        <% @voises.each do |voise| %>
          <tr>
            <td class="text-center"><%= voise.story %></td>
            <td>
              <% if voise.smoke == current_smoke %>
                <%= link_to smoke_voise_path(voise), method: :delete do %>
                  <button type="button" class="btn btn-danger btn-sm">削除</button>
                <%end%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <h5 class="text-end"><%=link_to '戻る',smoke_voises_path%></h5>
    </div>
  </div>
</div>

<script>
  function alertFunction() {
  let promptStr = prompt('投稿したい内容を入力してください');
  alert(promptStr);
  }
</script>


